#failvideo {
    display: block;
    margin: 0px auto;
    padding: 0px;
}

#title, #lyrics {
    text-align: center;
    font-family: bubbles;
    margin: 0px;
    padding: 25px;
}

#lyrics {
    padding: 0px;
    font-size: 36px;
}

#title {
    font-size: 106px;
}

body {
    background-color: #2ecc71;
}


@font-face {
    font-family: bubbles;
    src: url(Bubblegum.ttf);
}
